@{
    ViewBag.Title = "Nâng cấp tài khoản";
    ViewBag.Main = "Nâng cấp tài khoản";
    Layout = "~/Views/Shared/_LayoutArea.cshtml";
}
@using DayHocTrucTuyen.Models.Entities
@model List<GoiNangCap>

<section>
    <div class="page-header">
        <div class="header-inner">
            <h2>Nâng cấp tài khoản</h2>
            <p>
                Chào mừng bạn đến với Dạy Học Trực Tuyến. Hãy ủng hộ chúng tôi bằng cách mua các gói nâng cấp cho tài khoản của bạn. Những đặc quyền mở rộng và nâng cao luôn chờ bạn với những ưu đãi hấp dẫn.
            </p>
        </div>
        <figure><img src="~/Content/Img/Resources/baner-badges.png" alt=""></figure>
    </div>
</section>

<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 col-lg-10">
                    <div class="sec-heading style9 text-center">
                        <span><i class="fa fa-trophy"></i> Đây là một tùy chọn</span>
                        <h2><span>Nâng cấp</span> dành cho bạn</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="price-box">
                        <span class="bg-blue">@Model[0].MoTa</span>
                        <div class="pricings">
                            <h2>@Model[0].TenGoi</h2>
                            <h1>@Model[0].GiaTien.ToString("n0") VNĐ <span>@Model[0].getHieuLuc()</span></h1>
                            <p>
                                Đến với gói nâng cấp này, bạn được mở một số chức năng sau.
                            </p>
                            <ul class="price-features">
                                <li><i class="ti-check"></i> Khung dành riêng cho Vip.</li>
                                <li><i class="ti-check"></i> Không giới hạn sử dụng tính năng.</li>
                                <li><i class="ti-check"></i> Sử dụng biểu tượng cảm xúc đặc biệt.</li>
                                <li><i class="ti-close"></i> Giới hạn upload file 50MB.</li>
                                <li><i class="ti-close"></i> Hỗ trợ trực tiếp 24/7.</li>
                            </ul>
                            <a class="main-btn" href="~/payment/momo/upgrade?id=@Model[0].MaGoi" title="" data-ripple="">Mua Ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="price-box">
                        <span class="bg-purple">@Model[1].MoTa</span>
                        <div class="pricings">
                            <h2>@Model[1].TenGoi</h2>
                            <h1>@Model[1].GiaTien.ToString("n0") VNĐ <span>@Model[1].getHieuLuc()</span></h1>
                            <p>
                                Đến với gói nâng cấp này, bạn được mở một số chức năng sau.
                            </p>
                            <ul class="price-features">
                                <li><i class="ti-check"></i> Khung dành riêng cho SVip.</li>
                                <li><i class="ti-check"></i> Không giới hạn sử dụng tính năng.</li>
                                <li><i class="ti-check"></i> Sử dụng biểu tượng cảm xúc đặc biệt.</li>
                                <li><i class="ti-check"></i> Giới hạn upload file 50MB.</li>
                                <li><i class="ti-close"></i> Hỗ trợ trực tiếp 24/7.</li>
                            </ul>
                            <a class="main-btn" href="~/payment/momo/upgrade?id=@Model[1].MaGoi" title="" data-ripple="">Mua Ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="price-box">
                        <span class="bg-red">@Model[2].MoTa</span>
                        <div class="pricings">
                            <h2>@Model[2].TenGoi</h2>
                            <h1>@Model[2].GiaTien.ToString("n0") VNĐ <span>@Model[2].getHieuLuc()</span></h1>
                            <p>
                                Bạn nhận được toàn bộ đặc quyền đối với gói nâng cấp này.
                            </p>
                            <ul class="price-features">
                                <li><i class="ti-check"></i> Khung dành riêng cho Pre.</li>
                                <li><i class="ti-check"></i> Không giới hạn sử dụng tính năng.</li>
                                <li><i class="ti-check"></i> Sử dụng biểu tượng cảm xúc đặc biệt.</li>
                                <li><i class="ti-check"></i> Giới hạn upload file 100MB.</li>
                                <li><i class="ti-check"></i> Hỗ trợ trực tiếp 24/7.</li>
                            </ul>
                            <a class="main-btn" href="~/payment/momo/upgrade?id=@Model[2].MaGoi" title="" data-ripple="">Mua Ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- price plans -->
