
@model NguoiDung
@using DayHocTrucTuyen.Models.Entities
@{
    NguoiDung uLogin = new NguoiDung().getNguoiDung(User.Claims.First().Value);
    ViewBag.Title = "Thông tin của " + Model.Ten;
    ViewBag.Main = "Hồ sơ: " + Model.getFullName();
    Layout = "~/Views/Shared/_LayoutArea.cshtml";
}

<section>
    <div class="gap2 gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="user-profile">
                            <figure>
                                @if (uLogin.MaNd == Model.MaNd)
                                {
                                    <div class="edit-pp">
                                        <label class="fileContainer">
                                            <i class="fa fa-camera"></i>
                                            <input id="user-edit-bg" type="file" title="Thay đổi ảnh bìa">
                                        </label>
                                    </div>
                                }
                                <div>
                                    <img id="img-user-bg" src="@Model.getImageBG()" alt="" />
                                </div>
                                @if (!uLogin.MaNd.Equals(Model.MaNd))
                                {
                                    <ul class="profile-controls">
                                        @if (Model.liked(uLogin.MaNd))
                                        {
                                            <li><a id="btnLike" title="Đã thích" data-toggle="tooltip"><i class="fa fa-heart"></i></a></li>
                                        }
                                        else
                                        {
                                            <li><a class="bg-success" id="btnLike" title="Thích trang" data-toggle="tooltip" onclick="like('@Model.MaNd', '@uLogin.MaNd')"><i class="fa fa-heart"></i></a></li>
                                        }
                                        <li><a class="send-mesg" href="javascript:void(0)" title="Gửi tin nhắn" onclick="openPopupChat('@Model.MaNd')" data-toggle="tooltip"><i class="fa fa-comment"></i></a></li>
                                    </ul>
                                }
                            </figure>
                            <div class="profile-section">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="profile-author">
                                            <div class="profile-author-thumb">
                                                @if (uLogin.MaNd == Model.MaNd)
                                                {
                                                    <div class="edit-dp">
                                                        <label class="fileContainer">
                                                            <i class="fa fa-camera"></i>
                                                            <input id="user-edit-avt" type="file" title="Thay đổi ảnh đại diện">
                                                        </label>
                                                    </div>
                                                }
                                                <img id="img-user-avt" alt="@Model.getFullName()" src="@Model.getImageAvt()" />
                                            </div>
                                            <div class="author-content">
                                                <div class="h4 author-name">@Model.getFullName()</div>
                                                <div class="user_job">@Model.getTenLoai()</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- banner hồ sơ  -->
                        <div class="col-lg-3">
                            <aside class="sidebar static left">
                                <div class="widget">
                                    <h4 class="widget-title">Thao tác nhanh</h4>
                                    <ul class="naves">
                                        <li>
                                            <i class="ti-home"></i>
                                            <a href="/" title="">Trang chủ</a>
                                        </li>
                                        <li>
                                            <i class="ti-layout-list-thumb"></i>
                                            <a href="~/courses/room/list" title="">Danh sách lớp học</a>
                                        </li>
                                        <li>
                                            <i class="ti-comment-alt"></i>
                                            <a href="" title="">Tin nhắn</a>
                                        </li>
                                        <li>
                                            <i class="ti-bell"></i>
                                            <a href="~/user/notification/detail" title="">Thông báo</a>
                                        </li>
                                    </ul>
                                </div><!-- Thao tác nhanh -->
                                <div class="widget">
                                    <h4 class="widget-title">Xem thêm</h4>
                                    <ul class="naves">
                                        <li>
                                            <i class="fa fa-bar-chart-o"></i>
                                            <a href="" title="">Biểu đồ</a>
                                        </li>
                                        <li>
                                            <i class="ti-help"></i>
                                            <a href="" title="">Trợ giúp</a>
                                        </li>
                                        <li>
                                            <i class="ti-power-off"></i>
                                            <a onclick="dangxuat()" href="#" title="">Đăng xuất</a>
                                        </li>
                                    </ul>
                                </div><!-- Xem thêm -->
                            </aside>
                        </div><!-- Thanh trái -->
                        <div class="col-lg-6">
                            <div class="central-meta">
                                <span class="create-post tran-bottom">Thông tin chi tiết</span>
                                <ul class="short-profile">
                                    <li>
                                        <span>UID</span>
                                        <p>@Model.MaNd</p>
                                    </li>
                                    <li>
                                        <span>Bí danh</span>
                                        @if (Model.BiDanh == Model.MaNd)
                                        {
                                            <p>Chưa đặt</p>
                                        }
                                        else
                                        {
                                            <p>@Model.BiDanh</p>
                                        }
                                    </li>
                                    <li>
                                        <span>Giới tính</span>
                                        @if (Model.GioiTinh == null)
                                        {
                                            <p>Chưa có thông tin</p>
                                        }
                                        else
                                        {
                                            if (Model.GioiTinh == 1)
                                            {
                                                <p>Nam</p>
                                            }
                                            else
                                            {
                                                <p>Nữ</p>
                                            }
                                        }
                                    </li>
                                    <li>
                                        <span>Tuổi</span>
                                        @if (Model.NgaySinh == null)
                                        {
                                            <p>Chưa có thông tin</p>
                                        }
                                        else
                                        {
                                            <p>@Model.getTuoi()</p>
                                        }
                                    </li>
                                    <li>
                                        <span>Gia nhập</span>
                                        <p>@Model.NgayTao.ToString("'Ngày' dd/MM/yyyy 'lúc' HH:mm:ss tt")</p>
                                    </li>
                                    <li>
                                        <span>Mô tả</span>
                                        @if (String.IsNullOrEmpty(Model.MoTa))
                                        {
                                            <p>Xin chào, mình tên là @Model.getFullName() !</p>
                                        }
                                        else
                                        {
                                            <p>@Model.MoTa</p>
                                        }
                                    </li>
                                </ul>
                            </div>
                        </div><!-- nội dung giữa -->
                        
                        <!-- Menu right-->
                        @await Html.PartialAsync("~/Views/Shared/Menu/_ViewLike.cshtml", Model)

                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- nội dung chính -->

<!-- upload avt -->
<div class="popup-wraper2">
    <div class="popup pb-2">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head pb-0">
                <h5 class="modal-title">Thay đổi ảnh đại diện</h5>
            </div>
            <div class="upload-boxes mt-2">
                <form class="c-form">
                    <div class="img-container">
                        <img id="cropper-avt-image" src="~/Content/Img/userBG/bg-default.jpg">
                    </div>
                    <div class="progress mt-2">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                    </div>
                    <div class="pt-2">
                        <button type="button" class="main-btn" id="cropper-confirm">Lưu</button>
                        <button type="button" class="main-btn cancel">Hủy</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section ChildStyle{
    <link href="~/Template/css/cropper.css" rel="stylesheet" asp-append-version="true">
}

@section ChildScript{
    <script src="~/Template/js/cropper.js" asp-append-version="true"></script>
    <script src="~/Template/js/cropper-custom.js" asp-append-version="true"></script>
}