
@{
    ViewBag.Title = Model.TenPhong;
    ViewBag.Main = "Quản lý phòng thi";
    Layout = "~/Views/Shared/_LayoutArea.cshtml";
    NguoiDung uLogin = new NguoiDung().getNguoiDung(User.Claims.First().Value);
}
@model PhongThi
@using DayHocTrucTuyen.Models.Entities

<section>
    <div class="page-header">
        <div class="header-inner">
            <h2 class="exam-ma" id="@Model.MaPhong">@Model.TenPhong</h2>
            <p>
                Thời gian làm bài: @Model.ThoiLuong phút
            </p>
        </div>
        <figure><img src="~/Content/Img/Resources/baner-typography.png" alt=""></figure>
    </div>
</section><!-- sub header -->
<section>
    <div class="gap2 gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static left">
                                <div class="widget">
                                    <h4 class="widget-title">Thao tác</h4>
                                    <ul class="naves">
                                        <li>
                                            <i class="ti-home"></i>
                                            <a href="/">Trang chủ</a>
                                        </li>
                                        <li>
                                            <i class="ti-back-left"></i>
                                            <a href="~/courses/room/detail/@Model.MaLop">Quay lại lớp học</a>
                                        </li>
                                        <li>
                                            <i class="ti-menu-alt"></i>
                                            <a href="~/courses/exam/list/@Model.MaLop">Danh sách bài thi</a>
                                        </li>
                                        <li>
                                            <i class="ti-menu-alt"></i>
                                            <a href="~/courses/room/list">Danh sách lớp học</a>
                                        </li>
                                        <li>
                                            <i class="ti-user"></i>
                                            <a href="~/profile/info/@uLogin.MaNd">Trang cá nhân</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget stick-widget">
                                    <h4 class="widget-title">Bảng điều khiển</h4>
                                    <div id="control-quest" style="margin: 10px">
                                        @foreach (CauHoiThi quest in Model.getAllCauHoi())
                                        {
                                            <a href="#quest_@quest.Stt" class="btn btn-outline-info">@quest.Stt</a>
                                        }
                                    </div>
                                    <div style="margin-bottom: 10px; margin-left: 10px">
                                        Thời gian còn lại: @Model.ThoiLuong phút
                                    </div>
                                </div>
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-9" id="main-quest">
                            <div class="central-meta">
                                <div class="title-block">
                                    <div class="align-left">
                                        <h5 class="create-post">Danh sách câu hỏi</h5>
                                    </div>
                                    <div class="align-right">
                                        <button class="addnewforum btn-outline-info statistic-exam mt-1 mb-1" data-toggle="tooltip" title="Xem điểm thi"><i class="fa fa-bar-chart"></i></button>
                                        <button class="addnewforum btn-outline-info banned-user-exam mt-1 mb-1" data-toggle="tooltip" title="Cấm thi người dùng"><i class="fa fa-gavel"></i></button>
                                        <button class="addnewforum btn-outline-info edit-exam mt-1 mb-1" data-toggle="tooltip" title="Chỉnh sửa thông tin bài thi"><i class="fa fa-cogs"></i></button>
                                        <button class="addnewforum btn-outline-success create-quest mt-1 mb-1" data-toggle="tooltip" title="Thêm câu hỏi mới"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            @if (Model.getSLCauHoi() == 0)
                            {
                                <div class="row" id="noQuestExam">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <span>Bài thi chưa có câu hỏi nào !</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            @foreach (CauHoiThi quest in Model.getAllCauHoi())
                            {
                                <div id="quest_@quest.Stt" class="central-meta">
                                    <div class="create-post tran-bottom">
                                        Câu hỏi @quest.Stt
                                        <div class="align-right">
                                            <button class="createoredit btn-outline-info edit-quest" data-toggle="tooltip" title="Chỉnh sửa câu hỏi" onclick="setQuestEdit('@quest.Stt', '@Model.MaPhong')"><i class="fa fa-pencil"></i></button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 quest-content quest_@quest.Stt">
                                            @quest.CauHoi
                                        </div>
                                        @if (quest.isMultiAns(quest.LoiGiai))
                                        {
                                            string[] dapan = new[] { "" };
                                            dapan = quest.DapAn.Split('\\');
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input class="quest_@quest.Stt" type="checkbox" name="dap_@quest.Stt" id="dap1_@quest.Stt" />
                                                <label class="quest_@quest.Stt" for="dap1_@quest.Stt">A: @dapan[0]</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input class="quest_@quest.Stt" type="checkbox" name="dap_@quest.Stt" id="dap2_@quest.Stt" />
                                                <label class="quest_@quest.Stt" for="dap2_@quest.Stt">B: @dapan[1]</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input class="quest_@quest.Stt" type="checkbox" name="dap_@quest.Stt" id="dap3_@quest.Stt" />
                                                <label class="quest_@quest.Stt" for="dap3_@quest.Stt">C: @dapan[2]</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input class="quest_@quest.Stt" type="checkbox" name="dap_@quest.Stt" id="dap4_@quest.Stt" />
                                                <label class="quest_@quest.Stt" for="dap4_@quest.Stt">D: @dapan[3]</label>
                                            </div>
                                        }
                                        else
                                        {
                                            string[] dapan = new[] { "" };
                                            dapan = quest.DapAn.Split('\\');
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input class="quest_@quest.Stt" type="radio" name="dap_@quest.Stt" id="dap1_@quest.Stt" />
                                                <label class="quest_@quest.Stt" for="dap1_@quest.Stt">A: @dapan[0]</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input class="quest_@quest.Stt" type="radio" name="dap_@quest.Stt" id="dap2_@quest.Stt" />
                                                <label class="quest_@quest.Stt" for="dap2_@quest.Stt">B: @dapan[1]</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input class="quest_@quest.Stt" type="radio" name="dap_@quest.Stt" id="dap3_@quest.Stt" />
                                                <label class="quest_@quest.Stt" for="dap3_@quest.Stt">C: @dapan[2]</label>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input class="quest_@quest.Stt" type="radio" name="dap_@quest.Stt" id="dap4_@quest.Stt" />
                                                <label class="quest_@quest.Stt" for="dap4_@quest.Stt">D: @dapan[3]</label>
                                            </div>
                                        }
                                    </div>
                                    <div class="quest-foot">
                                        <div class="content quest_@quest.Stt">
                                            Đáp án đúng: @quest.getDapAnDung(quest.DapAn, quest.LoiGiai)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- content -->
<div class="popup-editExam">
    <div class="popup">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head" style="margin-bottom: 8px">
                <h5>Chỉnh sửa bài thi</h5>
            </div>
            <div class="group-adding">
                <form id="form-edit-exam" method="post">
                    <div class="form-row align-items-center">
                        <div class="col-sm-6">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Tên</div>
                                </div>
                                <input type="text" class="form-control form-edit-exam" id="@Model.MaPhong" required maxlength="50" placeholder="Nhập tên bài thi..." title="Ví dụ: Kiểm tra giữa kỳ" value="@Model.TenPhong">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Hạn giờ</div>
                                </div>
                                <input type="number" class="form-control form-edit-exam" style="border-right: none" required max="1000" placeholder="Nhập thời gian thi...." title="Ví dụ: 45" value="@Model.ThoiLuong">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px;">phút</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Mở</div>
                                </div>
                                <input type="datetime-local" class="form-control form-edit-exam" required title="Ví dụ: 01/01/2022 12:00 AM" value="@Model.NgayMo.ToString("yyyy-MM-dd'T'HH:mm")">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Đóng</div>
                                </div>
                                <input type="datetime-local" class="form-control form-edit-exam" required title="Ví dụ: 01/01/2022 12:00 AM" value="@Model.NgayDong.ToString("yyyy-MM-dd'T'HH:mm")">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Lần thử</div>
                                </div>
                                <input type="number" class="form-control form-edit-exam" required max="1000" placeholder="Nhập số lần thử lại...." title="Ví dụ: 10" value="@Model.LuotThi">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Bảo mật</div>
                                </div>
                                <input id="exam-pass-inp" type="password" class="form-control form-edit-exam" style="border-right: none" pattern="[a-z,1-9]{1,50}" maxlength="50" placeholder="Nhập mật khẩu...." title="Ví dụ: acb123" value="@Model.MatKhau">
                                <div class="input-group-prepend">
                                    <div id="exam-view-pass" class="input-group-text text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px; cursor: pointer"><i id="hide" class="fa fa-eye"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="custom-control custom-switch">
                                @if (Model.XemLai)
                                {<input type="checkbox" class="custom-control-input form-edit-exam" id="ckc-xem-lai" checked>}
                                else
                                { <input type="checkbox" class="custom-control-input form-edit-exam" id="ckc-xem-lai">}
                                <label class="custom-control-label" for="ckc-xem-lai">Cho phép xem lại</label>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="main-btn">Lưu lại</button>
                </form>
            </div>
        </div>
    </div>
</div><!--Popup chỉnh sửa bài thi-->
<div class="popup-createQuest">
    <div class="popup">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head" style="margin-bottom: 8px">
                <h5>Thêm câu hỏi mới</h5>
            </div>
            <div class="group-adding">
                <form id="form-create-quest" method="post">
                    <div class="form-row align-items-center">
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Câu hỏi</div>
                                </div>
                                <textarea class="form-control form-create-quest" required maxlength="500" placeholder="Nhập nội dung câu hỏi...." title="Ví dụ: Bạn tên gì?"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Đáp án 1</div>
                                </div>
                                <input type="text" class="form-control form-create-quest" style="border-right: none" required maxlength="120" placeholder="Nhập nội dung...." title="Ví dụ: Tôi Tên ABC" />
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px"><input class="form-create-quest-yes" type="checkbox" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Đáp án 2</div>
                                </div>
                                <input type="text" class="form-control form-create-quest" style="border-right: none" required maxlength="120" placeholder="Nhập nội dung...." title="Ví dụ: Tôi Tên ABC" />
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px"><input class="form-create-quest-yes" type="checkbox" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Đáp án 3</div>
                                </div>
                                <input type="text" class="form-control form-create-quest" style="border-right: none" required maxlength="120" placeholder="Nhập nội dung...." title="Ví dụ: Tôi Tên ABC" />
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px"><input class="form-create-quest-yes" type="checkbox" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Đáp án 4</div>
                                </div>
                                <input type="text" class="form-control form-create-quest" style="border-right: none" required maxlength="120" placeholder="Nhập nội dung...." title="Ví dụ: Tôi Tên ABC" />
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px"><input class="form-create-quest-yes" type="checkbox" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="main-btn">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div><!--Popup create quest-->
<div class="popup-editQuest">
    <div class="popup">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head" style="margin-bottom: 8px">
                <h5 id="editQuestTitle">Chỉnh sửa câu hỏi</h5>
            </div>
            <div class="group-adding">
                <form id="form-edit-quest" method="post">
                    <div class="form-row align-items-center">
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Câu hỏi</div>
                                </div>
                                <textarea class="form-control form-edit-quest" required maxlength="500" placeholder="Nhập nội dung câu hỏi...." title="Ví dụ: Bạn tên gì?"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Đáp án 1</div>
                                </div>
                                <input type="text" class="form-control form-edit-quest" style="border-right: none" required maxlength="120" placeholder="Nhập nội dung...." title="Ví dụ: Tôi Tên ABC" />
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px"><input class="form-edit-quest-yes" type="checkbox" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Đáp án 2</div>
                                </div>
                                <input type="text" class="form-control form-edit-quest" style="border-right: none" required maxlength="120" placeholder="Nhập nội dung...." title="Ví dụ: Tôi Tên ABC" />
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px"><input class="form-edit-quest-yes" type="checkbox" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Đáp án 3</div>
                                </div>
                                <input type="text" class="form-control form-edit-quest" style="border-right: none" required maxlength="120" placeholder="Nhập nội dung...." title="Ví dụ: Tôi Tên ABC" />
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px"><input class="form-edit-quest-yes" type="checkbox" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="input-group mb-2 my-form">
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label">Đáp án 4</div>
                                </div>
                                <input type="text" class="form-control form-edit-quest" style="border-right: none" required maxlength="120" placeholder="Nhập nội dung...." title="Ví dụ: Tôi Tên ABC" />
                                <div class="input-group-prepend">
                                    <div class="input-group-text text-label text-label-end" style="border-bottom-right-radius: 6px; border-top-right-radius: 6px"><input class="form-edit-quest-yes" type="checkbox" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="main-btn">Lưu</button>
                </form>
            </div>
        </div>
    </div>
</div><!--Popup update quest-->

<!-- popup cấm thi -->
<div class="popup-wraper1">
    <div class="popup direct-mesg">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head">
                <h5 id="modal-banned-exam-title">Cấm thi người dùng</h5>
            </div>
            <div>
                <ul class="twiter-feed invitepage lst-banned mb-0 pb-0">
                    @foreach (var mem in Model.getLopHoc().listMembers())
                    {
                        <li>
                            <figure>
                                <span class="room-member-status status f-off @mem.MaNd"></span>
                                <img class="wh-40" src="@mem.getImageAvt()" data-toggle="tooltip" title="@mem.getFullName()" />
                                <a href="~/profile/info/@mem.MaNd" title="Xem trang của @mem.Ten">@mem.Ten</a>
                                @if (mem.MaLoai != null && mem.MaLoai.Equals("02"))
                                {
                                    <a data-toggle="tooltip" title="Giáo viên"><i class="fa fa-mortar-board"></i></a>
                                }
                            </figure>
                            @if (mem.hasCamThi(Model.MaPhong))
                            {
                                <a data-toggle="tooltip" title="Đã bị cấm thi"><i data-examcode="@Model.MaPhong" data-usercode="@mem.MaNd" class="fa fa-ban action banned_user"></i></a>
                            }
                            else
                            {
                                <a data-toggle="tooltip" title="Cấm thi"><i data-examcode="@Model.MaPhong" data-usercode="@mem.MaNd" class="fa fa-gavel action banned_user"></i></a>
                            }
                        </li>
                    }
                </ul>
            </div>
            <button id="confirm-banned-exam" data-ripple="" type="button" class="custom-btn float-right">Xác nhận</button>
        </div>
    </div>
</div>

<!-- popup cấm thi -->
<div class="popup-wraper2">
    <div class="popup @*direct-mesg*@">
        <span class="popup-closed"><i class="ti-close"></i></span>
        <div class="popup-meta">
            <div class="popup-head">
                <h5 id="modal-statistic-exam-title" data-examcode="@Model.MaPhong">Xem điểm thi</h5>
            </div>
            <div id="toolbar-control"></div>
            <div class="custom-list">
                <table id="table-point-exam"
                       data-toolbar="#toolbar-control"
                       data-search="true"
                       data-search-highlight="true"
                       data-search-align="left"
                       data-show-refresh="true"
                       data-show-toggle="true"
                       data-show-columns="true"
                       data-show-columns-toggle-all="true"
                       data-show-export="true"
                       data-show-pagination-switch="true"
                       data-sort-class="table-active"
                       data-pagination="true"
                       data-id-field="maNd"
                       data-unique-id="maNd"
                       data-page-list="[2, 10, 20, 40, 100, All]"
                       data-side-pagination="server"
                       data-locale="vi-VN"
                       data-toggle="table"
                       data-cache="false"
                       data-ajax="ajaxGetPointExam">
                </table>
            </div>
            <button id="confirm-statistic-exam" data-ripple="" type="button" class="custom-btn float-right mt-3">Xác nhận</button>
        </div>
    </div>
</div>

@section ChildStyle{
    <link href="~/Template/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/Template/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">
}

@section ChildScript{
    <script src="~/Template/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/Template/bootstrap-table/tableExport.min.js" asp-append-version="true"></script>
    <script src="~/Template/bootstrap-table/bootstrap-table.min.js" asp-append-version="true"></script>
    <script src="~/Template/bootstrap-table/bootstrap-table-locale-all.min.js" asp-append-version="true"></script>
    <script src="~/Template/bootstrap-table/bootstrap-table-export.min.js" asp-append-version="true"></script>
    <script src="~/Template/js/table_statistic.js" asp-append-version="true"></script>
}