
@{
    ViewBag.Title = Model.TenPhong;
    ViewBag.Main = "Xem lại bài thi";
    Layout = "~/Views/Shared/_LayoutArea.cshtml";
    NguoiDung uLogin = new NguoiDung().getNguoiDung(User.Claims.First().Value);
}
@model PhongThi
@using DayHocTrucTuyen.Models.Entities

<section>
    <div class="page-header">
        <div class="header-inner">
            <h2 class="exam-ma" id="@Model.MaPhong">@Model.TenPhong</h2>
            <p>
                Thời gian làm bài: @Model.ThoiLuong phút
            </p>
        </div>
        <figure><img src="~/Content/Img/Resources/baner-typography.png" alt=""></figure>
    </div>
</section><!-- sub header -->
<section>
    <div class="gap2 gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="col-lg-3">
                            <aside class="sidebar static left">
                                <div class="widget">
                                    <h4 class="widget-title">Thao tác</h4>
                                    <ul class="naves">
                                        <li>
                                            <i class="ti-home"></i>
                                            <a href="/">Trang chủ</a>
                                        </li>
                                        <li>
                                            <i class="ti-back-left"></i>
                                            <a href="~/courses/room/detail/@Model.MaLop">Quay lại lớp học</a>
                                        </li>
                                        <li>
                                            <i class="ti-back-left"></i>
                                            <a href="~/courses/exam/preexam/@Model.MaPhong">Quay lại bài thi</a>
                                        </li>
                                        <li>
                                            <i class="ti-menu-alt"></i>
                                            <a href="~/courses/room/list">Danh sách lớp học</a>
                                        </li>
                                        <li>
                                            <i class="ti-user"></i>
                                            <a href="~/profile/info/@uLogin.MaNd">Trang cá nhân</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="widget stick-widget">
                                    <h4 class="widget-title">Bảng điều khiển</h4>
                                    <div id="control-quest" style="margin: 10px">
                                        @foreach (CauHoiThi quest in Model.getAllCauHoi())
                                        {
                                            if(quest.traLoiDung(uLogin.MaNd, ViewBag.LanThu))
                                            {
                                                <a href="#quest_@quest.Stt" class="btn btn-success">@quest.Stt</a>
                                            }
                                            else { <a href="#quest_@quest.Stt" class="btn btn-danger">@quest.Stt</a>}
                                        }
                                    </div>
                                    @*<div style="margin-bottom: 10px; margin-left: 10px">
                                        Thời gian còn lại: @Model.Thoi_Luong phút
                                    </div>*@
                                </div>
                            </aside>
                        </div><!-- sidebar -->
                        <div class="col-lg-9" id="main-quest">
                            @if (Model.getSLCauHoi() == 0)
                            {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-center">
                                            <span>Bài thi chưa có câu hỏi nào !</span>
                                        </div>
                                    </div>
                                </div>
                            }
                            @foreach (CauHoiThi quest in Model.getAllCauHoi())
                            {
                                <div id="quest_@quest.Stt" class="central-meta">
                                    <div class="create-post tran-bottom">
                                        Câu hỏi @quest.Stt
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 quest-content quest_@quest.Stt">
                                            @quest.CauHoi
                                        </div>
                                        @if (Model.daChonDapAn(quest.Stt, uLogin.MaNd, ViewBag.LanThu))
                                        {
                                            string[] dapan = new[] { "" };
                                            string traloi = quest.getDapAnDungAsInt(quest.DapAn, Model.getDapAnDaChon(quest.Stt, uLogin.MaNd, ViewBag.LanThu));
                                            dapan = quest.DapAn.Split('\\');
                                            for (var i = 0; i < dapan.Length; i++)
                                            {
                                                string setID = "dap" + (i + 1) + "_" + quest.Stt;
                                                if (traloi.Contains(i.ToString()))
                                                {
                                                    if (quest.isMultiAns(quest.LoiGiai))
                                                    {
                                                        if (quest.LoiGiai.Contains(dapan[i]))
                                                        {
                                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                                <input disabled checked class="quest_@quest.Stt" type="checkbox" name="dap_@quest.Stt" id="@setID" onclick="setDapAnThi(this, '@quest.Stt', '@Model.MaPhong', '@ViewBag.LanThu')" />
                                                                <label style="color: limegreen" class="lbl_quest_@quest.Stt" for="@setID">@quest.getKyHieu(i): @dapan[i]</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                                <input disabled checked class="quest_@quest.Stt" type="checkbox" name="dap_@quest.Stt" id="@setID" onclick="setDapAnThi(this, '@quest.Stt', '@Model.MaPhong', '@ViewBag.LanThu')" />
                                                                <label style="color: red" class="lbl_quest_@quest.Stt" for="@setID">@quest.getKyHieu(i): @dapan[i]</label>
                                                            </div>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (quest.LoiGiai.Equals(dapan[i]))
                                                        {
                                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                                <input disabled checked class="quest_@quest.Stt" type="radio" name="dap_@quest.Stt" id="@setID" onclick="setDapAnThi(this, '@quest.Stt', '@Model.MaPhong', '@ViewBag.LanThu')" />
                                                                <label style="color: limegreen" class="lbl_quest_@quest.Stt" for="@setID">@quest.getKyHieu(i): @dapan[i]</label>
                                                            </div>
                                                        }
                                                        else 
                                                        {
                                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                                <input disabled checked class="quest_@quest.Stt" type="radio" name="dap_@quest.Stt" id="@setID" onclick="setDapAnThi(this, '@quest.Stt', '@Model.MaPhong', '@ViewBag.LanThu')" />
                                                                <label style="color: red" class="lbl_quest_@quest.Stt" for="@setID">@quest.getKyHieu(i): @dapan[i]</label>
                                                            </div>
                                                        }
                                                    }
                                                }
                                                else
                                                {
                                                    if (quest.isMultiAns(quest.LoiGiai))
                                                    {
                                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                                            <input disabled class="quest_@quest.Stt" type="checkbox" name="dap_@quest.Stt" id="@setID" onclick="setDapAnThi(this, '@quest.Stt', '@Model.MaPhong', '@ViewBag.LanThu')" />
                                                            <label class="lbl_quest_@quest.Stt" for="@setID">@quest.getKyHieu(i): @dapan[i]</label>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                                            <input disabled class="quest_@quest.Stt" type="radio" name="dap_@quest.Stt" id="@setID" onclick="setDapAnThi(this, '@quest.Stt', '@Model.MaPhong', '@ViewBag.LanThu')" />
                                                            <label class="lbl_quest_@quest.Stt" for="@setID">@quest.getKyHieu(i): @dapan[i]</label>
                                                        </div>
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            string[] dapan = new[] { "" };
                                            dapan = quest.DapAn.Split('\\');
                                            for (var i = 0; i < dapan.Length; i++)
                                            {
                                                string setID = "dap" + (i + 1) + "_" + quest.Stt;
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    @if (quest.isMultiAns(quest.LoiGiai))
                                                    {
                                                        <input disabled class="quest_@quest.Stt" type="checkbox" name="dap_@quest.Stt" id="@setID" onclick="setDapAnThi(this, '@quest.Stt', '@Model.MaPhong', '@ViewBag.LanThu')" />
                                                    }
                                                    else
                                                    { <input disabled class="quest_@quest.Stt" type="radio" name="dap_@quest.Stt" id="@setID" onclick="setDapAnThi(this, '@quest.Stt', '@Model.MaPhong', '@ViewBag.LanThu')" />}
                                                    <label class="lbl_quest_@quest.Stt" for="@setID">@quest.getKyHieu(i): @dapan[i]</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="quest-foot">
                                        <div class="content quest_@quest.Stt">
                                            Đáp án đúng: @quest.getDapAnDung(quest.DapAn, quest.LoiGiai)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- content -->