@using DayHocTrucTuyen.Models.Entities
@model LopHoc

@{
    NguoiDung uLogin = new NguoiDung().getNguoiDung(User.Claims.First().Value);
}

<div class="col-lg-3">
    <aside class="sidebar static right">
        <div class="widget">
            <h4 class="widget-title">Thành viên</h4>
            <ul class="twiter-feed invitepage">
                <li>
                    <figure>
                        <span class="room-member-status status f-off @Model.getOwner().MaNd"></span>
                        <img class="wh-40" src="@Model.getOwner().getImageAvt()" data-toggle="tooltip" title="@Model.getOwner().getFullName()" />
                        <a href="~/profile/info/@Model.getOwner().MaNd" title="Xem trang của @Model.getOwner().Ten">@Model.getOwner().Ten</a>
                        <a data-toggle="tooltip" title="Giáo viên"><i class="fa fa-mortar-board"></i></a>
                    </figure>
                    <a data-toggle="tooltip" title="Quản trị viên"><i class="fa fa-key"></i></a>
                </li>
                @foreach (var mem in Model.listMembers())
                {
                    <li>
                        <figure>
                            <span class="room-member-status status f-off @mem.MaNd"></span>
                            <img class="wh-40" src="@mem.getImageAvt()" data-toggle="tooltip" title="@mem.getFullName()" />
                            <a href="~/profile/info/@mem.MaNd" title="Xem trang của @mem.Ten">@mem.Ten</a>
                            @if (mem.MaLoai.Equals("02"))
                            {
                                <a data-toggle="tooltip" title="Giáo viên"><i class="fa fa-mortar-board"></i></a>
                            }
                        </figure>
                        <a data-toggle="tooltip" title="Thành viên"><i class="fa fa-user"></i></a>
                    </li>
                }
            </ul>
        </div><!-- page invitation widget -->
        <div class="widget stick-widget">
            <h4 class="widget-title">Thao tác</h4>
            <ul class="naves">
                @if (Model.isOwner(uLogin.MaNd))
                {
                    <li>
                        <i class="fa fa-cog"></i>
                        <a onclick="editRoom('@Model.MaLop')">Đổi thông tin lớp</a>
                    </li>
                    <li>
                        <i class="fa fa-cogs"></i>
                        <a href="~/courses/exam/list/@Model.MaLop">Quản lý bài thi</a>
                    </li>
                    <li onclick="setTKPostAndMems('@Model.MaLop')">
                        <i class="fa fa-bar-chart-o"></i>
                        <a>Thống kê</a>
                    </li>
                }
                else
                {
                    <li>
                        <i class="fa fa-flag"></i>
                        <a class="rpt-room" onclick="getReportRoom('@Model.MaLop')">Báo cáo vi phạm</a>
                    </li>
                    <li class="rating-room">
                        <i class="ti-medall"></i>
                        <a>Đánh giá lớp</a>
                    </li>
                }
                <li onclick="getLink('@Model.MaLop')">
                    <i class="ti-sharethis-alt"></i>
                    <a>Chia sẻ lớp học</a>
                </li>
                <li>
                    <i class="ti-power-off"></i>
                    <a onclick="dangxuat()">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </aside>
</div><!-- sidebar -->